/JavaEducation/BootBoutique/target/
/JavaEducation/Calculator/target/
/JavaEducation-pom/BootBoutique/target/
/JavaEducation-pom/Calculator/target/
/JavaEducation-pom/ShortTasks/target/
/JavaEducation-pom/Crud/target/
/JavaEducation-pom/EndProject/target/
